/*
 * Empty Stylesheet file.
 */

#anchorpane {
    -fx-background-color: #ffffff;
}

#header {
    -fx-background-color: #38424b;
    -fx-background-radius: 3,3,3,3;
/*    -fx-background-insets: 0,1,2,0;*/
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#header #text {
    /*-fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );*/
    -fx-text-fill: #eeeeee;
    -fx-font-size: 16px;
    -fx-font-weight: 900;
    /*-fx-font-weight: 900;*/
}

#vbox {
    -fx-border-color: rgba(30,30,30,0.3);
}